---
name: pages
layout: page
---

<script>
  import SearchBar from '$components/SearchBar.svelte';
  import Gallery from '$components/Gallery.svelte';
</script>

# Explore

Use the interactive components to explore the items in the collection:



<SearchBar />
<Gallery filters={["artist","collection","year"]}/>
